{% extends '::base_gda.html.twig' %}

{% block body %}
	<article class="chefe">
		<h2><span>Destaques</span></h2>
		<div class="slider-noticias">
			{{ render(controller('CMSGDABundle:FrontEnd:destaques')) }}
		</div>
		<div class="seletor">
			<a href="javascript:void(0)" class="left"></a>
			<span class="pagina-atual"><span id="act">1</span>/<span id="all"></span></span>
			<a href="javascript:void(0)" class="right"></a>
		</div>
	</article>
	<article class="chefe">
		<h2><span>Notícias</span></h2>
		{{ render(controller('CMSGDABundle:FrontEnd:noticias')) }}
		<div class="seletor">
			<span class="pagina-atual"><a href="{{ url('site_term', {'slug' : 'noticias'}) }}">ver todas</a></span>
		</div>
	</article>
	<article class="chefe">
		<h2><span>Fotos</span></h2>
		{{ render(controller('CMSGDABundle:FrontEnd:albuns')) }}
	</article>
	<article class="chefe">
		<h2><span>Vídeos</span></h2>
		{{ render(controller('CMSGDABundle:FrontEnd:videos')) }}
		<div class="seletor">
			<span class="pagina-atual"><a href="{{ url('site_term', {'slug' : 'videos'}) }}">ver todos</a></span>
		</div>
	</article>
{% endblock %}
