{% extends '::base_gda.html.twig' %}

{% block body %}
	<article class="chefe">
		<h2><span>{{ term.name }}</span></h2>
		<div class="texto">
			<ul>
				<li>
					<p>
						{{ term.description | raw }}
					</p>
				</li>
			{% for post in posts %}
				{% for pic in post.attachments %}
				<li>
					<a href="/{{ pic.path }}" target="_blank" title="{{ post.title }}">
					<img width='490' src="/{{ pic.path }}" alt="{{ post.title }}" /> </a>
				<li>
				{% endfor %}
			{% endfor %}
			</ul>
		</div>
	</article>
{% endblock %}
