<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Painel de Administração{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/cmsstore/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@CMSStoreBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="header">

            <div id="top">

                <div class="container_16">

                {% block logo %}
                    <div id="logo">
                        Gerenciador de Conteúdo 
                        <!--span class="creditos">Desenvolvido por <img alt="Rede D'or" src="img/logo-tamandua-min.png" /> </span-->
                    </div>
                {% endblock %}

                    <div id="saudacao">
                        <p>Bem-vindo, <strong> {{ app.user.username }}
                        </strong> [ <a href="{{ path('fos_user_security_logout') }}"> {{ 'sair'|trans({}, 'FOSUserBundle') }}</a> ]</p>
                    </div>

                </div>

            </div>

            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <div id="nav" class="container_16">

                    <ul class="grid_16">

                        <li class="upp home"><a href="{{ path('post') }}">Posts</a>
                            <ul>
                                <li>&#8250; <a href="{{ path('post') }}">Listar</a></li>
                                <li>&#8250; <a href="{{ path('post_new') }}">Adicionar Novo</a></li>
                            </ul>
                        </li>

                        <li class="upp"><a href="{{ path('post_type') }}">Tipos de Post</a>
                            <ul>
                                <li>&#8250; <a href="{{ path('post_type') }}">Listar</a></li>
                                <li>&#8250; <a href="{{ path('post_type_new') }}">Adicionar Novo</a></li>
                            </ul>
                        </li>

                        <li class="upp"><a href="{{ path('taxonomy') }}">Taxonomia</a>
                            <ul>
                                <li>&#8250; <a href="{{ path('taxonomy') }}">Listar</a></li>
                                <li>&#8250; <a href="{{ path('taxonomy_new') }}">Adicionar Novo</a></li>
                            </ul>
                        </li>

                        <li class="upp"><a href="{{ path('term') }}">Termos</a>
                            <ul>
                                <li>&#8250; <a href="{{ path('term') }}">Listar</a></li>
                                <li>&#8250; <a href="{{ path('term_new') }}">Adicionar Nova</a></li>
                            </ul>
                        </li>

                        <li class="upp"><a href="{{ path('user') }}">Usuários</a>
                            <ul>
                                <li>&#8250; <a href="{{ path('user') }}">Listar</a></li>
                                <li>&#8250; <a href="{{ path('user_new') }}">Adicionar Novo</a></li>
                            </ul>
                        </li>

                    </ul>

                </div><!--/nav-->
             {% endif %}


        </div><!--/header-->

        <div id="content">

        {% block sidebar %}
            <div id="sidebar" class="grid_4">

                <ul id="side-nav">

                    <li class="new">
                        <p class="title">
                            <a class="side-btn add" href="{{ path('post_cnew') }}">Adicionar Página</a>
                        </p>
                    </li>

                </ul>

                <div class="box order">
                    <a class="side-btn order" href="">Ordenar menu</a>
                    <ul class="btns">
                        <li><button class="save">Salvar</button></li>
                        <li><button class="cancel">Cancelar</button></li>
                        <li class="msg">Salvando alteração...</li>
                    </ul>
                </div>

            </div><!-- / sidebar -->
        {% endblock %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>