<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Instituto D'or{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/cmssite/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@CMSSiteBundle/Resources/public/js/jquery-1.7.2.min.js'
                           '@CMSSiteBundle/Resources/public/js/jquery.maskedinput-1.2.2.min.js'
                           '@CMSSiteBundle/Resources/public/js/effects.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="container_16">

                <div id="logo" class="grid_3">
                    <h1>Instituto D'Or</h1>
                </div>

                <div class="grid_9 push_4">
                    <form id="top-search">
                        <input type="text" class="txt">
                        <input type="submit" value="Buscar" class="send">
                    </form>
                </div>			
            </div>
        </div><!--/header-->
        <div id="menu" class="container_16 clearfix">
            <ul class="grid_16">
                <li class="first">
                    <a href="{{ url('front_index') }}">Página Inicial</a>
                </li>
                {% for page in pages %}
                <li>
                    <a href="{{ url('front_page', {'id' : page.id}) }}">{{ page.title }}</a>
                </li>
                {% endfor %}
                {% for postType in postTypes %}
                <li>
                    <a href="{{ url('front_post_type', {'id' : postType.id}) }}">{{ postType.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div id="main" class="container_16">
            <div id="content" class="grid_10 push_3 pg-interna">
                    {% block body %}{% endblock %}
                </div>
                {% block sideleft %}
                    <div id="sideLeft" class="sidebar grid_3 pull_10">
                        <div class="box-menu">
                            <ul>
                                <li class="titulo">Institucional</li>
                                <li><a href="{{ url('static_quem_somos') }}">Quem Somos</a></li>
                                <li><a href="{{ url('static_servicos') }}">Serviços</a></li>
                                <li><a href="{{ url('static_compras') }}">Compras</a></li>
                                <li><a href="{{ url('static_documentos') }}">Documentos Úteis</a></li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
                {{ block('side_right') }}
            </div>
        
        </body>
    </html>