<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ block('title') }}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/cmsstore/css/login.css' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>
        <div class="wrap">
            {% block main %}
                <div id="content">
                    <div id="main" class="{% if class is defined %}{{ class }}{% endif %}">
                        <h1>{{ block('title') }}</h1>
                        {% block body %}
                                    {{ block('content') }}
                        {% endblock %}
                        <div class="footer">
                            <p class="cred">v0.6 - Desenvolvido por</p>
                            <p class="cred"><a href="http://vfreitas.com" target="_blank">vfreitas.com</a></p>
                        </div>
                    </div>
            {% endblock %}
                </div>
            </div>
        </body>
    </html>
