{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not sameas(false) -%}
        {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block compressed_root %}
{% spaceless %}
{{ block('root') }}
{% endspaceless %}
{% endblock %}

{% block addsubpage %}
<li style="">
    <a class="side-btn add" href="{{ path('post_cnew' , {'type' : 'page', 'daddyId' : item.attributes.id }) }}">Adicionar Subpágina</a>
</li>
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}
{{ block('list') -}}
{% endblock %}

{% block list %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}   
            {{ block('children') }}
{% endif %}
{% endblock %}

{% block sub_list %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
            {{ block('sub_children') }}
{% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}

    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}

    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}

    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block sub_children %}
{# save current variables #}
{% set currentOptions = options %}
{% set currentItem = item %}
{# update the depth for children #}
{% if options.depth is not none %}
{% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
{% endif %}
{% for item in currentItem.children %}
    {{ block('sub_item') }}
{% endfor %}
{# restore current variables #}
{% set item = currentItem %}
{% set options = currentOptions %}
{% endblock %}

{% block item %}
    {% set diff_styles = ['postType'] %}
    {% if item.displayed %}
    {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if item.current %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif item.currentAncestor %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}
        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
    {# displaying the item #}
<li>
    <p class='title {{ (item.attributes.style in diff_styles) ? 'type-tax' : 'type-pg' }}'>
                {#- if item.uri is not empty and (not item.current or options.currentAsLink) %}
                {{ block('linkElement') }}
                {%- else %}
                {%- endif #}
                {{ block('spanElement') }}
            
            {% if (item.attributes.style not in diff_styles) %}
                <span class="icons-actions">
                    <a class="edit" href="{{ path('post_cedit', {'id': item.attributes.id}) }}" title="Editar">Editar</a>
                </span>
            {% endif %}
        </p>
    {# render the list of children#}
            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
            {% if (item.attributes.style not in diff_styles) %}
                <ul style='display:none' class='ui-sortable'>
                        {{ block('sub_list') }}
                        {{ block('addsubpage') }}
                </ul>
            {% else %}
                <ul style='display:none' class='ui-sortable'>
                    <li class="b1" style="">
                        <a class="icon page" href="{{ path('post_cindex', {'typeId' : item.attributes.id}) }}">Listar {{ item.label }}</a>
                    </li>
                    <li style="">
                        <a class="icon category" href="{{ path('term_clist', {'taxId' : item.attributes.taxonomy.id}) }}">Listar {{ item.attributes.taxonomy.name }}</a>
                    </li>
                    <li style="">
                        <a class="side-btn add" href="{{ path('post_cnew', {'type' : item.attributes.type}) }}">Adicionar {{ item.label }}</a>
                    </li>
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block sub_item %}
{% if item.displayed %}
{# building the class of the item #}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if item.current %}
        {%- set classes = classes|merge([options.currentClass]) %}
    {%- elseif item.currentAncestor %}
        {%- set classes = classes|merge([options.ancestorClass]) %}
    {%- endif %}
    {%- if item.actsLikeFirst %}
        {%- set classes = classes|merge([options.firstClass]) %}
    {%- endif %}
    {%- if item.actsLikeLast %}
        {%- set classes = classes|merge([options.lastClass]) %}
    {%- endif %}
    {%- set attributes = item.attributes %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
{# displaying the item #}
        <li class='pg'>
            {%- if item.uri is not empty and (not item.current or options.currentAsLink) %}
            {{ block('linkElement') }}
            {%- else %}
            {{ block('spanElement') }}
            {%- endif %}
                <span class='icons-actions'>
                    <a href="{{ path('post_cedit', { 'id': item.attributes.id }) }}" class="edit">Editar</a>
                    <a href="{{ path('post_cdelete', { 'id': item.attributes.id }) }}" class="delete">Excluir</a>
                </span>
{# render the list of children#}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        {{ block('sub_list') }}
            </li>
{% endif %}
{% endblock %}

{% block linkElement %}<a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>{{ block('label') }}</a>{% endblock %}

{% block spanElement %}<span{{ _self.attributes(item.labelAttributes) }}>{{ block('label') }}</span>{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}{% endblock %}
