{% extends '::base_site.html.twig' %}

{% block body -%}
<h1>
        {{ postType.name }}
    </h1>
    <div id="pg-txt">
        <p>{{ postType.description|raw }}</p>
    </div>

    {# TODO: implementar filtro dinâmico #}
    <form id="quem-somos-busca" method="post" action="{{ path('front_post_type', {'id' : postType.id}) }}">
            {{ form_rest(form_filter) }}
            <input type="submit" class="send" name="submit-filter" value="Filtrar">
    </form>
    {# endtodo #}

    <div id="quem-somos-lista">
        {% for post in postType.posts %}
            <div class="item">
                <h3>{{ post.title }}</h3>
                <p class="especialidade">{% for term in post.terms %} {{ term.name }} {% endfor %}</p>
                <div class="txt" style="display: none;">
                    <p>{{ post.content|raw }}</p>
                </div>
                <span class="link"><span>▼</span><span class="off">▲</span>Informações</span>
            </div>
        {% endfor %}
        </div>
{% endblock %}