{% extends "::base_center.html.twig" %}

{% block title %}
    Gerenciador de Conteúdo
{% endblock %}

{% block content %}
<div class="full_w">
{% if error %}
        <div class="n_error"><p>{{ error|trans({}, 'FOSUserBundle') }}<p></div>
{% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">{{ 'Usuário'|trans({}, 'FOSUserBundle') }}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class='text' />

            <label for="password">{{ 'Senha'|trans({}, 'FOSUserBundle') }}:</label>
            <input type="password" id="password" name="_password" required="required" class='text' />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="float: left;margin-right: 10px;margin-top: 2px;" />
            <label for="remember_me">{{ 'Lembrar minha senha'|trans({}, 'FOSUserBundle') }}</label>
            <div class="sep"></div>
            <p class="btns">
                <!-- a class="button" href="{{ url('fos_user_change_password') }}">Esqueceu a senha ?</a -->
                <input type="submit" value="Login" name="_submit" id="_submit" class="send" />
            </p>
        </form>
    </div>
{% endblock content %}
