{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Post list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Título</th>
                <th>taxonomy</th>
                <th>Atualização</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_cshow', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.postTypeId }}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('d/m/Y H:i') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('post_cshow', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('post_cedit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
